In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 1. KLASIFIKASI SKOR TOTAL GURU

# Load data guru
df_guru = pd.read_csv("files/data_LD_guru.csv", sep=';')
print("Jumlah data guru:", len(df_guru))

# Deteksi kolom Likert (skala 1-5)
likert_cols = [col for col in df_guru.columns if pd.api.types.is_numeric_dtype(df_guru[col])
               and df_guru[col].min() >= 1 and df_guru[col].max() <= 5]
non_likert_cols = [col for col in df_guru.columns if col not in likert_cols]

print(f"\nKolom Likert ({len(likert_cols)}): {likert_cols}")
print(f"Kolom Non-Likert ({len(non_likert_cols)}): {non_likert_cols}")

Jumlah data guru: 172

Kolom Likert (36): ['1. Saya mampu menghubungkan perangkat saya ke jaringan internet ', '3. Saya mampu mengunduh file/aplikasi', '4. Saya mampu mengunggah file ', '5. Saya terbiasa menggunakan Aplikasi Office seperti Word,Power Point, Excel, Visio dan Akses untuk membantu proses pembelajaran. ', '6. Saya terbiasa menggunakan selain Aplikasi Office untuk membantu proses pembelajaran. ', '8. Saya mampu mencari dan mengakses data, informasi dan konten di media digital. ', '11. Saya terbiasa menggunakan Internet untuk membantu mencari materi untuk proses pembelajaran', '12. Saya terbiasa menggunakan fasilitas Internet untuk menjadi alat peraga dalam proses pembelajaran', '13. Saya terbiasa mencari tahu menggunakan Internet apakah informasi yang saya temukan benar atau salah.', '14. Saya terbiasa membandingkan berbagai sumber informasi untuk memutuskan apakah informasi itu benar. ', '15. Saya mampu berinteraksi melalui berbagai perangkat komunikasi teknologi digital. ', '16. Saya terbiasa bekerja sama dengan orang lain dalam mengerjakan tugas atau project menggunakan perangkat komunikasi teknologi digital. ', '17. Saya terbiasa menggunakan fasilitas Chat-GPT', '18. Saya terbiasa menggunakan fasilitas Chat-GPT untuk mencari informasi dalam membantu proses pembelajaran', '1. Saya tidak mengunggah foto bersama anak orang lain', '2. Saya tidak menandai teman saat mengunggah konten tanpa perlu memberi tahu teman saya tersebut', '3. Saya tidak akan berkomentar kasar jika ada orang yang komentar negatif di unggahan saya.', '4. Saya tidak membuat grup dan menambahkan orang tanpa izin', '5. Saya tidak akan langsung membagikan informasi kecelakaan', '6. Saya tidak akan mengajak orang-orang untuk berkomentar negatif', '7. Saya tidak akan membagikan tangkapan layar percakapan ke media sosial', '1. Di akun media sosial, saya bisa mengatur siapa saja yang dapat melihat lini masa saya', '2. Saya mengetahui cara melaporkan penyalahgunaan di jejaring sosial', '3. Saya dapat menonaktifkan opsi untuk menunjukkan posisi geografis', '4. Saya tidak mengunggah data pribadi di media sosial', '5. Saya menggunakan aplikasi untuk menemukan dan menghapus virus di perangkat saya', '6. Saya bisa membedakan e-mail yang berisi spam/virus/malware', '7. Saya terbiasa membuat password yang aman dengan kombinasi angka, huruf, dan tanda baca', '8. Saya melakukan back up data di beberapa tempat', '1. Saya menyesuaikan cara berkomunikasi agar pihak kedua tidak merasa tersinggung', '2. Saya mempertimbangkan perasaan pembaca yang berasal dari agama lain.', '3. Saya mencantumkan nama penulis saat repost', '4. Saya mempertimbangkan perasaan pembaca yang berasal dari suku lain.', '5. Saya berbagi seni budaya tradisional dan kontemporer Indonesia secara digital', '6. Saya mempertimbangkan perasaan pembaca yang memiliki pandangan politik berbeda', '7. Saya selalu mempertimbangkan dan menyadari keragaman budaya di media sosial saat membagikan pesan.']
Kolom Non-Likert (9): ['Timestamp', 'Email Address', 'NAMA', 'Usia', 'Asal Instansi', '2. Jaringan Internet yang sering dipakai', '7. Sebutkan Aplikasi lain selain Office dalam membantu proses pembelajaran', '9. Dalam Sehari berapa jam anda menggunakan teknologi Digital', '10. Aplikasi yang Sering Digunakan']

In [ ]:
# Ambil hanya kolom Likert
df_likert_guru = df_guru[likert_cols]
print("\nData Likert Guru:")
df_likert_guru.head(3)

Data Likert Guru:

,1. Saya mampu menghubungkan perangkat saya ke jaringan internet,3. Saya mampu mengunduh file/aplikasi,4. Saya mampu mengunggah file,"5. Saya terbiasa menggunakan Aplikasi Office seperti Word,Power Point, Excel, Visio dan Akses untuk membantu proses pembelajaran.",6. Saya terbiasa menggunakan selain Aplikasi Office untuk membantu proses pembelajaran.,"8. Saya mampu mencari dan mengakses data, informasi dan konten di media digital.",11. Saya terbiasa menggunakan Internet untuk membantu mencari materi untuk proses pembelajaran,12. Saya terbiasa menggunakan fasilitas Internet untuk menjadi alat peraga dalam proses pembelajaran,13. Saya terbiasa mencari tahu menggunakan Internet apakah informasi yang saya temukan benar atau salah.,14. Saya terbiasa membandingkan berbagai sumber informasi untuk memutuskan apakah informasi itu benar.,...,6. Saya bisa membedakan e-mail yang berisi spam/virus/malware,"7. Saya terbiasa membuat password yang aman dengan kombinasi angka, huruf, dan tanda baca",8. Saya melakukan back up data di beberapa tempat,1. Saya menyesuaikan cara berkomunikasi agar pihak kedua tidak merasa tersinggung,2. Saya mempertimbangkan perasaan pembaca yang berasal dari agama lain.,3. Saya mencantumkan nama penulis saat repost,4. Saya mempertimbangkan perasaan pembaca yang berasal dari suku lain.,5. Saya berbagi seni budaya tradisional dan kontemporer Indonesia secara digital,6. Saya mempertimbangkan perasaan pembaca yang memiliki pandangan politik berbeda,7. Saya selalu mempertimbangkan dan menyadari keragaman budaya di media sosial saat membagikan pesan.
0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,4.0,4.0,4.0,4.0,4.0,4.0,3.0,3.0,3.0,3.0,...,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,3.0,3.0
2,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [ ]:
# Bagi dimensi
dim_skill = likert_cols[0:18]
dim_etika = likert_cols[18:25]
dim_keamanan = likert_cols[25:33]
dim_budaya = likert_cols[33:40]

# Hitung rata-rata per dimensi
df_guru["Skill_Digital"] = df_likert_guru[dim_skill].mean(axis=1).round(3)
df_guru["Etika_Digital"] = df_likert_guru[dim_etika].mean(axis=1).round(3)
df_guru["Keamanan_Digital"] = df_likert_guru[dim_keamanan].mean(axis=1).round(3)
df_guru["Budaya_Digital"] = df_likert_guru[dim_budaya].mean(axis=1).round(3)

print("\nSkor Literasi Digital Guru per Dimensi :")
df_guru[["Skill_Digital", "Etika_Digital", "Keamanan_Digital", "Budaya_Digital"]].head()

Skor Literasi Digital Guru per Dimensi :

   Skill_Digital  Etika_Digital  Keamanan_Digital  Budaya_Digital
0          3.000          3.000             3.000           3.000
1          2.667          1.857             2.500           2.333
2          4.000          3.429             3.875           4.000
3          3.278          3.143             4.500           4.000
4          2.444          1.286             1.125           1.000

In [ ]:
# Hitung total dan mean LD
df_guru["Total_LD"] = df_guru[
    ["Skill_Digital","Etika_Digital","Keamanan_Digital","Budaya_Digital"]
].sum(axis=1).round(3)

df_guru["Mean_LD"] = df_guru[
    ["Skill_Digital","Etika_Digital","Keamanan_Digital","Budaya_Digital"]
].mean(axis=1).round(3)

print("\nSkor Literasi Digital Guru Keseluruhan:")
df_guru[["Total_LD", "Mean_LD"]].head()

Skor Literasi Digital Guru Keseluruhan:

   Total_LD  Mean_LD
0    12.000    3.000
1     9.357    2.339
2    15.304    3.826
3    14.921    3.730
4     5.855    1.464

In [ ]:
# 2. KLASIFIKASI SKOR TOTAL

# Cek Trisection
q33 = df_guru["Mean_LD"].quantile(0.33).round(3)
q66 = df_guru["Mean_LD"].quantile(0.66).round(3)

print("\nCek Trisection Mean_LD Guru:")
print("\nNilai Mean_LD pada kuartil 33%  :", q33)
print("Nilai Mean_LD pada kuartil 66%  :", q66)

Cek Trisection Mean_LD Guru:

Nilai Mean_LD pada kuartil 33%  : 3.175
Nilai Mean_LD pada kuartil 66%  : 3.764

In [ ]:
# Klasifikasi guru
def klasifikasi_ld(x):
    if x <= q33:
        return 'Rendah'
    elif x <= q66:
        return 'Sedang'
    else:
        return 'Tinggi'

df_guru["Level_LD"] = df_guru["Mean_LD"].apply(klasifikasi_ld)

print("\nKlasifikasi Level Literasi Digital Guru:")
df_guru[["NAMA", "Mean_LD", "Level_LD"]].head()

Klasifikasi Level Literasi Digital Guru:

                                    NAMA  Mean_LD Level_LD
0  Dra. SRI HARYANTI, M.M.  081329100075    3.000   Rendah
1                    SICILIA SRI MULYANI    2.339   Rendah
2                   Subarkah Sunu Wibawa    3.826   Tinggi
3                  Satria Dhimas Santosa    3.730   Sedang
4            Dian Retnaningsih , S.Pd.SD    1.464   Rendah

In [ ]:
# 3. JUMLAH GURU PER KLASIFIKASI LEVEL LD

# Hitung guru
jumlah_guru = df_guru['Level_LD'].value_counts().sort_index()
persentase = (jumlah_guru / jumlah_guru.sum() * 100).round(2)

tabel_ld = pd.DataFrame({
    'Level': jumlah_guru.index,
    'Jumlah Guru': jumlah_guru.values,
    'Persentase (%)': persentase.values
})

print("\nTabel Distribusi Tingkat Literasi Digital Guru")
tabel_ld

Tabel Distribusi Tingkat Literasi Digital Guru

    Level  Jumlah Guru  Persentase (%)
0  Rendah           57           33.14
1  Sedang           56           32.56
2  Tinggi           59           34.30

In [ ]:
# CEK OUTPUT DATA GURU
df_guru[[
    "NAMA",
    "Asal Instansi",
    "Total_LD",
    "Mean_LD",
    "Level_LD"
]].head()

,NAMA,Asal Instansi,Total_LD,Mean_LD,Level_LD
0,"Dra. SRI HARYANTI, M.M. 081329100075",SEKRETARIS PERHIMPUNAN PENDIDIKAN KRISTEN SURA...,12.000,3.000,Rendah
1,SICILIA SRI MULYANI,SD Kristen Banjarsari,9.357,2.339,Rendah
2,Subarkah Sunu Wibawa,SMP Kristen 1 Surakarta,15.304,3.826,Tinggi
3,Satria Dhimas Santosa,SMP Kristen 1 Surakarta,14.921,3.730,Sedang
4,"Dian Retnaningsih , S.Pd.SD",SD Kristen Banjarsari,5.855,1.464,Rendah

In [ ]:
# Klasifikasi guru
def klasifikasi_ld(x):
    if x <= q33:
        return 'Rendah'
    elif x <= q66:
        return 'Sedang'
    else:
        return 'Tinggi'

df_guru["Level_LD"] = df_guru["Mean_LD"].apply(klasifikasi_ld)

print("\nKlasifikasi Level Literasi Digital Guru:")
df_guru[["Mean_LD", "Level_LD"]].head()

In [ ]:
# pilih kolom untuk disimpan
df_save_guru = df_guru[[
    "NAMA",
    "Asal Instansi",
    "Total_LD",
    "Mean_LD",
    "Level_LD"
]]

df_save_guru.to_csv(
    "files/data_guru_klasifikasi.csv", 
    index=False, 
    float_format="%.3f"
    )

print("\nData guru berhasil disimpan")

Data guru berhasil disimpan