In [32]:
import pandas as pd

# Load data guru
df_guru = pd.read_csv("files/data_LD_guru.csv", sep=";")
print("Jumlah data guru:", len(df_guru))

# Deteksi kolom Likert (skala 1-5)
likert_cols = [col for col in df_guru.columns if pd.api.types.is_numeric_dtype(df_guru[col])
               and df_guru[col].min() >= 1 and df_guru[col].max() <= 5]
non_likert_cols = [col for col in df_guru.columns if col not in likert_cols]

# Kolom identitas (5 kolom)
kolom_identitas = non_likert_cols[:5]  # pastikan ini memang kolom identitas

# Kolom pernyataan
kolom_likert = likert_cols
kolom_non_likert_pernyataan = non_likert_cols[5:]

print("Kolom Identitas:", len(kolom_identitas))
print("Kolom Pernyataan Likert:", len(kolom_likert))
print("Kolom Pernyataan Non-Likert:", len(kolom_non_likert_pernyataan))

Jumlah data guru: 172
Kolom Identitas: 5
Kolom Pernyataan Likert: 36
Kolom Pernyataan Non-Likert: 4

In [33]:
df_struktur_kolom = pd.DataFrame({
    "Identitas Responden (5 Kolom)": pd.Series(kolom_identitas),
    "Pernyataan Likert (36 Kolom)": pd.Series(kolom_likert),
    "Pernyataan Non-Likert (4 Kolom)": pd.Series(kolom_non_likert_pernyataan)
})

df_struktur_kolom

,Identitas Responden (5 Kolom),Pernyataan Likert (36 Kolom),Pernyataan Non-Likert (4 Kolom)
0,Timestamp,1. Saya mampu menghubungkan perangkat saya ke ...,2. Jaringan Internet yang sering dipakai
1,Email Address,3. Saya mampu mengunduh file/aplikasi,7. Sebutkan Aplikasi lain selain Office dalam ...
2,NAMA,4. Saya mampu mengunggah file,9. Dalam Sehari berapa jam anda menggunakan te...
3,Usia,5. Saya terbiasa menggunakan Aplikasi Office s...,10. Aplikasi yang Sering Digunakan
4,Asal Instansi,6. Saya terbiasa menggunakan selain Aplikasi O...,NaN
5,NaN,"8. Saya mampu mencari dan mengakses data, info...",NaN
6,NaN,11. Saya terbiasa menggunakan Internet untuk m...,NaN
7,NaN,12. Saya terbiasa menggunakan fasilitas Intern...,NaN
8,NaN,13. Saya terbiasa mencari tahu menggunakan Int...,NaN
9,NaN,14. Saya terbiasa membandingkan berbagai sumbe...,NaN
10,NaN,15. Saya mampu berinteraksi melalui berbagai p...,NaN
11,NaN,16. Saya terbiasa bekerja sama dengan orang la...,NaN
12,NaN,17. Saya terbiasa menggunakan fasilitas Chat-GPT,NaN
13,NaN,18. Saya terbiasa menggunakan fasilitas Chat-G...,NaN
14,NaN,1. Saya tidak mengunggah foto bersama anak ora...,NaN
15,NaN,2. Saya tidak menandai teman saat mengunggah k...,NaN
16,NaN,3. Saya tidak akan berkomentar kasar jika ada ...,NaN
17,NaN,4. Saya tidak membuat grup dan menambahkan ora...,NaN
18,NaN,5. Saya tidak akan langsung membagikan informa...,NaN
19,NaN,6. Saya tidak akan mengajak orang-orang untuk ...,NaN
20,NaN,7. Saya tidak akan membagikan tangkapan layar ...,NaN
21,NaN,"1. Di akun media sosial, saya bisa mengatur si...",NaN
22,NaN,2. Saya mengetahui cara melaporkan penyalahgun...,NaN
23,NaN,3. Saya dapat menonaktifkan opsi untuk menunju...,NaN
24,NaN,4. Saya tidak mengunggah data pribadi di media...,NaN
25,NaN,5. Saya menggunakan aplikasi untuk menemukan d...,NaN
26,NaN,6. Saya bisa membedakan e-mail yang berisi spa...,NaN
27,NaN,7. Saya terbiasa membuat password yang aman de...,NaN
28,NaN,8. Saya melakukan back up data di beberapa tempat,NaN
29,NaN,1. Saya menyesuaikan cara berkomunikasi agar p...,NaN
30,NaN,2. Saya mempertimbangkan perasaan pembaca yang...,NaN
31,NaN,3. Saya mencantumkan nama penulis saat repost,NaN
32,NaN,4. Saya mempertimbangkan perasaan pembaca yang...,NaN
33,NaN,5. Saya berbagi seni budaya tradisional dan ko...,NaN
34,NaN,6. Saya mempertimbangkan perasaan pembaca yang...,NaN
35,NaN,7. Saya selalu mempertimbangkan dan menyadari ...,NaN

In [34]:
siaga = pd.read_csv('files/Siaga_updated.csv', sep=';', encoding='latin1')
penggalang = pd.read_csv('files/Penggalang_updated.csv', sep=';', encoding='latin1')
penegak = pd.read_csv('files/Penegak_updated.csv', sep=';', encoding='latin1')

def ambil_kolom(df):
    kolom = (
        ['Nama', 'Kelas', 'Kategori'] +
        [col for col in df.columns if col.startswith('S ')]
    )
    return df[kolom]

siaga_fix = ambil_kolom(siaga)
penggalang_fix = ambil_kolom(penggalang)
penegak_fix = ambil_kolom(penegak)

ambil_kolom(siaga_fix).head(3)

,Nama,Kelas,Kategori,S 1 8 33,S 2 8 33,S 3 8 33,S 4 8 33,S 5 8 33,S 6 8 33,S 7 8 33,S 8 8 33,S 9 8 33,S 10 8 33,S 11 8 33,S 12 8 33,S 13 8 33,S 14 8 33,S 15 8 33
0,Aaron Nathanael Yules,4,Siaga,2.08,-2.08,-2.08,-2.08,-2.08,8.33,8.33,8.33,-1.67,-2.08,-2.08,0.0,NaN,NaN,NaN
1,Abraham Giovani Soediro,6,Siaga,2.08,-2.08,-2.08,8.33,-2.08,8.33,-1.67,-1.39,-1.67,-2.08,-2.08,0.0,NaN,NaN,NaN
2,Abyatar Putra Nugraha,6,Siaga,2.08,8.33,-2.08,8.33,-2.08,-2.08,-1.67,8.33,-1.67,8.33,-2.08,0.0,NaN,NaN,NaN

In [35]:
ambil_kolom(penggalang_fix).head(3)

,Nama,Kelas,Kategori,S 1 6 67,S 2 6 67,S 3 6 67,S 4 6 67,S 5 6 67,S 6 6 67,S 7 6 67,S 8 6 67,S 9 6 67,S 10 6 67,S 11 6 67,S 12 6 67,S 13 6 67,S 14 6 67,S 15 6 67
0,AALEYAH HELGA DENYAN,8,Penggalang,6.67,0.0,0.00,1.33,0.00,0.00,6.67,0.00,-1.67,-1.67,0.00,0.00,0.00,0.0,0.0
1,ABELIZA NUR RACHMADANA,8,Penggalang,6.67,0.0,6.67,4.00,6.67,6.67,6.67,-1.67,6.67,-1.67,-1.67,6.67,-1.67,0.0,0.0
2,ABHIPRAYA RADITYA RAFA AFIANTO,8,Penggalang,4.00,0.0,0.00,2.67,6.67,-1.67,6.67,-1.67,-1.67,-1.67,-1.67,6.67,-1.67,0.0,0.0

In [36]:
ambil_kolom(penegak_fix).head(3)

,Nama,Kelas,Kategori,S 1 6 67,S 2 6 67,S 3 6 67,S 4 6 67,S 5 6 67,S 6 6 67,S 7 6 67,S 8 6 67,S 9 6 67,S 10 6 67,S 11 6 67,S 12 6 67,S 13 6 67,S 14 6 67,S 15 6 67
0,Abel Jenesi Natalia,11,Penegak,2.50,0.00,6.67,-1.67,-0.83,6.67,3.33,6.67,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Abigail Sekar Ayu Bening,11,Penegak,3.33,1.11,6.67,-1.67,6.67,6.67,3.33,-1.67,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Adinda Saschia,11,Penegak,3.33,0.00,-1.67,-1.67,-0.83,-1.33,3.33,-1.67,0.0,0.0,0.0,0.0,0.0,0.0,0.0